header {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center;
}

header form {
    display: flex;
    align-items: center;
    margin: auto; /* Center the form */
    width: 50%; /* Set a fixed width for the form */
}

header form input[type="text"] {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    flex-grow: 1; /* Allow the input to grow */
}

header form button {
    padding: 5px 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

header form button:hover {
    background-color: #0056b3;
}